html {
  background: #f9c2c9;
  background: -moz-linear-gradient(
    -45deg,
    hsla(352, 82%, 87%, 1) 0%,
    hsla(198, 42%, 67%, 1) 100%
  );
  background: -webkit-gradient(
    linear,
    left top,
    right bottom,
    color-stop(0%, hsla(352, 82%, 87%, 1)),
    color-stop(100%, hsla(198, 42%, 67%, 1))
  );
  background: -webkit-linear-gradient(
    -45deg,
    hsla(352, 82%, 87%, 1) 0%,
    hsla(198, 42%, 67%, 1) 100%
  );
  background: -o-linear-gradient(
    -45deg,
    hsla(352, 82%, 87%, 1) 0%,
    hsla(198, 42%, 67%, 1) 100%
  );
  background: -ms-linear-gradient(
    -45deg,
    hsla(352, 82%, 87%, 1) 0%,
    hsla(198, 42%, 67%, 1) 100%
  );
  background: linear-gradient(
    135deg,
    hsla(352, 82%, 87%, 1) 0%,
    hsla(198, 42%, 67%, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9c2c9', endColorstr='#88bacf',GradientType=1 );
}

body {
  font-family: Open Sans;
  font: normal 20px/2;
}

#dock-container {
  position: fixed;
  bottom: 0;
  text-align: center;
  width: 80%;
  background: rgba(209, 144, 144, 0.6);
}

#dock-container li {
  list-style-type: none;
  display: inline-block;
  position: relative;
  padding: 10px;
}
#dock-container ul {
  position: absolute;
  bottom: 10px;
  list-style-type: none;
}
#dock-container li img {
  width: 80px;
  height: 80px;
  transition: all 0.5s;
  transform-origin: 50% 100%;
}
#dock-container li:hover img {
  transform: scale(1);
  margin: 0 2em;
}
#dock-container li:hover + li img,
#dock-container li.prev img {
  transform: scale(1);
}
#dock-container li span {
  display: none;
  bottom: 80px;
  width: 100%;
  background-color: none;
  border-radius: 10px;
}
#dock-container li:hover span {
  display: block;
  color: black;
}
